.row, .wor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.colTxt {
  flex: 40%;
  padding: 0 5%;
  text-align: center;
}
.colTxt * {
  padding: 0.5em 0;
}
.colImg {
  flex: 60%;
  overflow: hidden;
  background-color: darkseagreen;
}
.colImg img {
  width: auto;
  height: 100%;
}
.colTxt, .colImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-aspect-ratio: 6/5){
  .row {
    flex-direction: column;
  }
  .wor {
    flex-direction: column-reverse;
  }
}
