.row, .wor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.colTxt {
  flex: 50%;
  padding: 0 5%;
  text-align: center;
}

.colTxt * {
  padding: 0.5em 0;
}

.colImg {
  flex: 50%;
  background-color: darkseagreen;
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.colImg img {
  width: 100%;
  height: auto;
}

.colTxt, .colImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px){
  .row {
    flex-direction: column;
  }

  .wor {
    flex-direction: column-reverse;
  }

  .colImg {
    flex-grow: 1.3;
    background-size: auto 100%;
  }

}
